form{ 
    display: flex;
    justify-content: space-around;
    height: 30rem;
    align-items: center;
}

button {
    background-color: black;
    color: aliceblue;
    width: 150px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 15%;
}

p {
    display: flex;
    align-items: center;
    margin: 5px;
    background-color: aliceblue;
    height: 50px;
    padding: 10px;
    border-radius: 15%;
}

label {
    padding-right: 10px;
}